body {
    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
    padding: 3px;
    border: 1px solid whitesmoke;
}

.row {
    display: flex;
    justify-content: space-around;
}

.block {
    height: 27px;
    width: 27px;
    background-color: gray;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

button {
    all: unset;
    cursor: pointer;
}

#score {
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
}

#timer {
    color: aliceblue;
    margin: 10px auto;
    border: 5px solid blue;
    padding: 10px
}

#flag-counter {
    color: aliceblue;
    margin: 10px auto;
    border: 5px dotted red;
    padding: 10px
}